body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:aqua;
    color: crimson;
}

.header_div{
    background-color: white;
    color: rgb(9, 255, 0);
    line-height: 4;
}

.header_div p{
    font-family: sans-serif;
    color: grey;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
font-family:serif;
margin-top: 30px;
width: 130px;
font-weight: bolder;
letter-spacing: 3;
}

.copyright_footer{
    position: fixed;
    background-color: turquoise;
    color: black;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    line-height: 3;
    text-align: center;
}